/*

# theme
!/wp-content/
/wp-content/*
/wp-content/.htaccess
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/dorango-farm-custom/

# .htaccess
!.htaccess

# gulp
!/src
!gulpfile.js
!package.json

# editor
!.editorconfig

# ignore
!.gitignore

# robots.txt
!robots.txt

# docker
!docker-compose.yml
