@use '../global/import' as *;

.none:not(#_) {
	display: none;
}

.none-before:not(#_) {
	&::before {
		content: none;
	}
}

.none-after:not(#_) {
	&::after {
		content: none;
	}
}

@include pc {
    .block-pc:not(#_) {
		display: block;
	}
	.i-block-pc:not(#_) {
		display: inline-block;
	}
    .none-sp:not(#_) {
		display: none;
	}
}

@include sp {
	.block-sp:not(#_) {
		display: block;
	}
	.i-block-sp:not(#_) {
		display: inline-block;
	}
	.none-pc:not(#_) {
		display: none;
	}
}
