@use '../global/import' as *;
@use '../config/import' as *;

.u-tc:not(#_) {
	text-align: center;
}
.u-tl:not(#_) {
	text-align: left;
}
.u-tr:not(#_) {
	text-align: right;
}

@include pc {
	.u-tc-pc:not(#_) {
		text-align: center;
	}
	.u-tl-pc:not(#_) {
		text-align: left;
	}
	.u-tr-pc:not(#_) {
		text-align: right;
	}
}

@include sp {
	.u-tc-sp:not(#_) {
		text-align: center;
	}
	.u-tl-sp:not(#_) {
		text-align: left;
	}
	.u-tr-sp:not(#_) {
		text-align: right;
	}
}

.u-primary02:not(#_) {
	color: $primary02;
}
.u-medium:not(#_) {
	font-weight: $fwMedium;
}
.u-bold:not(#_) {
	font-weight: $fwBold;
}