@use "../global/import" as *;
@use "../config/import" as *;

// font-face
@font-face {
	src: url(#{$fontPath}/NotoSansJP-Regular.ttf) format('truetype');
	font-family: "Noto Sans JP";
	font-weight: 400;
	font-display: swap;
}
@font-face {
	src: url(#{$fontPath}/NotoSansJP-Medium.ttf) format('truetype');
	font-family: "Noto Sans JP";
	font-weight: 500;
	font-display: swap;
}
@font-face {
	src: url(#{$fontPath}/NotoSansJP-Bold.ttf) format('truetype');
	font-family: "Noto Sans JP";
	font-weight: 700;
	font-display: swap;
}

body {
	font-family: "Noto Sans JP", sans-serif;
	&.js-fixed {
		width: 100%;
		height: 100%;
		position: fixed;
	}
}

// pc・sp
body {
	color: $black01;
}
p,li,dt,a {
	line-height: $lhBase;
	letter-spacing: $lsBase;
}

// pc
@include pc {
	img  {
		max-width: 100%;
		height: auto;
	}
	picture {
		display: inline-block;
	}
	p,li,dt,a {
		font-size: $fzBasePC;
	}
}

// sp
@include sp {
	img  {
		max-width: 100%;
		height: auto;
	}
	picture {
		display: inline-block;
	}
	p,li,dt,a {
		font-size: vw(16);
	}
}
