dorango-farm.com, www.dorango-farm.com {
	tls /etc/caddy/certs/dorango-farm.com.pem /etc/caddy/certs/dorango-farm.com-key.pem
	encode gzip
	reverse_proxy wordpress:80 {
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
}
