@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.affi-note {
		margin-top: 50px;
		font-weight: $fwMedium;
		text-decoration: underline;
	}
}

@include sp {
	.article-content {
		$this: &;
		padding: vw(80) 0;
		& > * {
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
