@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.article-head {
		$this: &;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 20px;
	}
}

@include sp {
	.article-head {
		$this: &;
		display: flex;
		flex-direction: column;
		margin-top: vw(20);
		gap: vw(18);
	}
}
