@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.article-thumb {
		$this: &;
		display: block;
		width: 100%;
		margin: 0 auto ;
		aspect-ratio: 16/9;
		overflow: hidden;
		&__img {
			width: 100%;
			height: 100%;
		}
	}
}

@include sp {
	.article-thumb {
		$this: &;
		display: block;
		width: 100%;
		margin: 0 auto;
		aspect-ratio: 16/9;
		overflow: hidden;
		&__img {
			width: 100%;
			height: 100%;
		}
	}
}
