@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.article-content {
		$this: &;
		margin-top: 20px;
		& > * {
			&:first-child {
				margin-top: 0;
			}
		}
	}
}

@include sp {
	.article-content {
		$this: &;
		padding: vw(20) 0 0;
		& > * {
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
