@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.balloon {
		$this: &;
		display: flex;
		align-items: flex-start;
		column-gap: 40px;
		width: min(800px, 100%);
		&:not(:first-of-type) {
			margin-top: 20px;
		}
		&--reverse {
			flex-direction: row-reverse;
			margin-left: auto;
			#{$this}__text {
				&::before {
					position: absolute;
					top: 20px;
					left: auto;
					right: 0;
					transform: translateX(100%);
					background-color: $primary01;
					clip-path: polygon(0 0, 0% 100%, 100% 50%);
				}
				&::after {
					top: 20px;
					left: auto;
					right: 3px;
					transform: translateX(100%);
					clip-path: polygon(0 0, 0% 100%, 100% 50%);
					background-color: $white01;
				}
			}
		}
		&__picture {
			width: 100px;
			height: 100px;
			overflow: hidden;
			border-radius: 50%;
			border: 2px solid $primary01;
		}
		&__img {
			width: 100%;
			height: 100%;
		}
		&__text {
			flex: 1;
			position: relative;
			padding: 15px 20px;
			background-color: $white01;
			border-radius: 10px;
			border: 2px solid $primary01;
			&::before {
				position: absolute;
				top: 20px;
				left: 0;
				background-color: $primary01;
				width: 16px;
				height: 22px;
				transform: translateX(-100%);
				clip-path: polygon(100% 0, 0 50%, 100% 100%);
				content: "";
			}
			&::after {
				position: absolute;
				top: 20px;
				left: 3px;
				background-color: $white01;
				width: 16px;
				height: 22px;
				transform: translateX(-100%);
				clip-path: polygon(100% 0, 0 50%, 100% 100%);
				content: "";
			}
		}
	}
}

@include sp {
	.balloon {
		$this: &;

	}
}
