@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.blogs-item {
		$this: &;
		height: 160px;
		background: $white01;
		box-shadow: $primary03 0 0 1px 0px;
		overflow: hidden;
		&--article {
			width: min(600px, 100%);
		}
		&__link {
			display: grid;
			grid-template-columns: 45% 1fr;
			height: 100%;
			&:hover {
				#{$this}__img {
					scale: $scale;
				}
				#{$this}__text {
					text-decoration: none;
					opacity: $opacity;
				}
				#{$this}__date {
					opacity: $opacity;
				}
			}
		}
		&__block {
			padding: 15px;
		}
		&__thumb {
			overflow: hidden;
		}
		&__img {
			transition: scale $transition;
			width: 100%;
			height: 100%;
		}
		&__date {
			display: block;
			font-size: $fzSmallPC;
			font-weight: $fwMedium;
		}
		&__text {
			margin-top: 5px;
			text-decoration: underline;
			font-weight: $fwMedium;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden;
		}
	}
}

@include sp {
	.blogs-item {
		$this: &;
		width: 100%;
		height: vw(140);
		background: $white01;
		box-shadow: $primary03 0 0 vw(2) 0;
		overflow: hidden;
		&__link {
			display: grid;
			grid-template-columns: 45% 1fr;
			height: 100%;
			&:hover {
				#{$this}__img {
					scale: $scale;
				}
				#{$this}__text {
					text-decoration: none;
					opacity: $opacity;
				}
				#{$this}__date {
					opacity: $opacity;
				}
			}
		}
		&__block {
			padding: vw(10);
		}
		&__thumb {
			overflow: hidden;
		}
		&__img {
			transition: scale $transition;
			height: 100%;
		}
		&__date {
			display: block;
			font-size: $fzSmallSP;
			font-weight: $fwMedium;
		}
		&__text {
			margin-top: vw(5);
			text-decoration: underline;
			font-weight: $fwMedium;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden;
		}
	}
}
