@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.breadcrumb {
		$this: &;
		display: flex;
		align-items: end;
		column-gap: 30px;
		margin-top: 30px;
		padding: 0 0 10px;
		overflow-x: auto;
		white-space: nowrap;
		&__item {
			position: relative;
			line-height: $lhFlat;
			&:not(:last-of-type) {
				&::after {
					position: absolute;
					top: 50%;
					right: -18px;
					transform: translate(0, -50%);
					width: 8px;
					height: 8px;
					border-top: 2px solid $brown01;
					border-right: 2px solid $brown01;
					transform: translateY(-50%) rotate(45deg);
					content: "";
				}
			}
		}
		&__link {
			line-height: $lhFlat;
			text-decoration: underline;
			transition: $transition;
			&:hover {
				opacity: $opacity;
				text-decoration: none;
			}
		}
	}
}

@include sp {
}
