@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.footer {
		background-color: $white01;
		&__inner {
			position: relative;
		}
		&__copy {
			font-size: $fzSmallPC;
			text-align: center;
			margin-top: 30px;
		}
		&__list {
			display: flex;
			gap: 20px;
			margin-top: 20px;
		}
		&__link {
			display: block;
			text-decoration: underline;
			@include hoverOpacity();
		}
	}
}

@include sp {
	.footer {
		background-color: $white01;
		&__inner {
			position: relative;
		}
		&__copy {
			font-size: $fzSmallSP;
			text-align: center;
			margin-top: vw(25);
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(2, auto);
			gap: vw(15);
			margin-top: vw(20);
			width: vw(280);
		}
		&__link {
			display: block;
			text-decoration: underline;
			@include hoverOpacity();
		}
	}
}
