@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.gnav {
		margin: 15px auto 0;
		width: vwMin($innerWidthPC);
		&__list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-right: 1px dashed $white01;
		}
		&__item {
			flex: 1;
			border-left: 1px dashed $white01;
			text-align: center;
		}
		&__link {
			display: block;
			text-align: center;
			font-weight: $fwMedium;
			font-size: $fzMediumPC;
			color: $white01;
			@include hoverOpacity();
		}
	}
	.is-active {
		.gnav {
			margin-top: 0;
		}
	}
}

@include sp {
	.gnav {
		margin: vw(15) auto 0;
		overflow-x: auto;
		white-space: nowrap;
		&__list {
			display: flex;
			align-items: center;
			padding-bottom: vw(15);
		}
		&__item {
			text-align: center;
			&:not(:first-of-type) {
				border-left: vw(1) solid $white01;
			}
		}
		&__link {
			display: block;
			padding: 0 vw(10);
			text-align: center;
			font-weight: $fwMedium;
			font-size: $fzMediumSP;
			color: $white01;
			@include hoverOpacity();
		}
	}
	.is-active {
		.gnav {
			margin-top: 0;
		}
	}
}
