@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.heading-lv1-01 {
		position: relative;
		padding: 60px 0;
		border-bottom: 3px solid $primary04;
		&__text {
			display: block;
			width: $innerWidthSmallPC;
			margin: 0 auto;
			text-align: center;
			font-size: $fzXLPC;
		}
		&::after {
			position: absolute;
			bottom: -6px;
			right: 0;
			transform: translate(0, 100%);
			width: 100%;
			height: 1px;
			background-color: $primary04;
			content: "";
		}
	}
}

@include sp {
	.heading-lv1-01 {

	}
}
