@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.heading-lv4-01 {
		margin-top: 30px;
		padding-bottom: 5px;
		border-bottom: 2px solid $primary01;
		font-size: $fzMediumPC;
		font-weight: $fwMedium;
	}
}

@include sp {
	.heading-lv4-01 {
		margin-top: vw(30);
		padding-bottom: vw(5);
		border-bottom: vw(2) solid $primary01;
		font-size: $fzMediumSP;
		font-weight: $fwMedium;
	}
}
