@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.header {
		background-color: $primary01;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 15px 0 20px;
		z-index: 100;
		&.is-active {
			box-shadow: $primary03 0 0 2px 2px;
		}
	}
}

@include sp {
	.header {
		background-color: $primary01;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: vw(15) 0 0;
		z-index: 100;
		&.is-active {
			box-shadow: $primary03 0 0 vw(2) vw(2);
		}
	}
}
