@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.heading-lv2-02 {
		margin-top: 65px;
		position: relative;
		border-bottom: 5px solid $primary03;
		padding-bottom: 10px;
		font-size: $fzXLPC;
		font-weight: $fwMedium;
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 10%;
			height: 5px;
			background-color: $primary02;
			content: "";
			transform: translateY(100%);
		}
	}
}

@include sp {
	.heading-lv2-02 {
		margin-top: vw(65);
		position: relative;
		border-bottom: vw(5) solid $primary03;
		padding-bottom: vw(10);
		font-size: $fzXLSP;
		font-weight: $fwMedium;
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20%;
			height: 5px;
			background-color: $primary02;
			content: "";
			transform: translateY(100%);
		}
	}
}
