@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.heading-lv3-01 {
		position: relative;
		margin-top: 45px;
		padding-left: 20px;
		font-size: $fzLargePC;
		font-weight: $fwMedium;
		&::before {
			position: absolute;
			top: 3px;
			left: 0;
			width: 5px;
			height: 25px;
			background-color: $primary02;
			content: "";
		}
	}
}

@include sp {
	.heading-lv3-01 {
		position: relative;
		margin-top: vw(45);
		padding-left: vw(20);
		font-size: $fzLargeSP;
		font-weight: $fwMedium;
		&::before {
			position: absolute;
			top: vw(3);
			left: 0;
			width: vw(5);
			height: vw(25);
			background-color: $primary02;
			content: "";
		}
	}
}
