@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.inner {
		margin: 0 auto;
		width: $innerWidthPC;
		&--small {
			width: $innerWidthSmallPC;
		}
	}
}

@include sp {
	.inner {
		margin: 0 $innerWidthSP;
	}
}
