@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.js-animate-y {
		opacity: 0;
		visibility: hidden;
		transform: translateY(100px);
		transition: $transitionLong ease-in-out;
	}
}

@include sp {
	.js-animate-y {
		opacity: 0;
		visibility: hidden;
		transform: translateY(100px);
		transition: $transitionLong ease-in-out;
	}
}
