@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.logo {
		display: block;
		width: fit-content;
		margin: 0 auto;
		color: $white01;
		text-align: center;
		font-weight: $fwBold;
		font-size: $fzXLPC;
		line-height: $lhFlat;
		@include hoverOpacity();
		&--footer {
			color: $brown01;
			margin: 0 auto 0 0;
		}
	}
}

@include sp {
	.logo {
		display: block;
		width: fit-content;
		margin: 0 auto;
		color: $white01;
		text-align: center;
		font-weight: $fwBold;
		font-size: $fzXLSP;
		line-height: $lhFlat;
		@include hoverOpacity();
		&--footer {
			color: $brown01;
			margin: 0 auto 0 0;
		}
	}
}
