@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.pagination {
		gap: 14px;
		&__item {
			display: block;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			border: 1px solid $white01;
			background-color: $white01;
			&.is-active {
				scale: (1.1);
				background-color: $primary02;
			}
		}
	}
}

@include sp {
	.pagination {

	}
}
