@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.search-form-block {
		position: relative;
		width: 500px;
		margin: 0 auto;
	}
}

@include sp {
	.search-form-block {
		position: relative;
	}
}
