@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.tag {
		display: block;
		position: relative;
		width: fit-content;
		padding: 10px 10px 10px 28px;
		border: 2px solid $primary04;
		background-color: $white01;
		border-radius: 100vh 0 0 100vh;
		font-weight: $fwMedium;
		font-size: $fzMediumPC;
		line-height: $lhFlat;
		@include hoverOpacity();
		&::before {
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translate(0, -50%);
			width: 10px;
			height: 10px;
			content: '';
			border-radius: 50%;
			background: $brown01;
		}
	}
}

@include sp {
	.tag {
		display: block;
		position: relative;
		width: fit-content;
		padding: vw(10) vw(10) vw(10) vw(28);
		border: vw( 2) solid $primary04;
		background-color: $white01;
		border-radius: 100vh 0 0 100vh;
		font-weight: $fwMedium;
		font-size: $fzMediumPC;
		line-height: $lhFlat;
		@include hoverOpacity();
		&::before {
			position: absolute;
			top: 50%;
			left: vw(10);
			transform: translate(0, -50%);
			width: vw(10);
			height: vw(10);
			content: '';
			border-radius: 50%;
			background: $brown01;
		}
	}
}
