@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.toc {
		display: block;
		width: min(500px, 100%);
		margin: 50px auto 0;
		border: 1px solid $primary04;
		background-color: $primary03;
		&__summary {
			padding: 20px;
			text-align: center;
			cursor: pointer;
			@include hoverOpacity();
		}
		&__content {
			padding: 20px 20px 30px;
			border-top: 1px dashed $primary04;
			font-weight: $fwMedium;
		}
		&__list {
			padding-left: 20px;
		}
		&__item {
			margin-top: 10px;
		}
		&__link {
			text-decoration: underline;
			position: relative;
			@include hoverOpacity;
			&::before {
				position: absolute;
				top: 0.75em;
				left: -1.2em;
				transform: translate(0, -50%);
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: $primary04;
				content: "";
			}
		}
	}
}

@include sp {
	.toc {

	}
}
