@use '../global/import' as *;
@use '../config/import' as *;

.validate-err {
	visibility: hidden;
	opacity: 0;
	transition: $transition;
	&__elm {
		display: none;
		position: relative;
		background-color: $red02;
		color: $red01;
		font-weight: $fwMedium;
		width: fit-content;
		&::before {
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent transparent $red02 transparent;
			content: "";
		}
	}
}

@include pc {
	.validate-err {
		width: min(100%, 500px);
		margin-inline: auto;
		&__elm {
			margin-top: 10px;
			padding: 10px 15px;
			&::before {
				top: -10px;
				left: 20px;
				border-width: 0 12px 12px 12px;
			}
		}
	}
}

@include sp {
	.validate-err {
		&__elm {
			margin-top: vw(10);
			padding: vw(10) vw(15);
			transition: $transition;
			&::before {
				top: vw(-10);
				left: vw(20);
				border-width: 0 vw(12) vw(12) vw(12);
			}
		}
	}
}
