@use '../global/import' as *;
@use '../config/import' as *;

@include pc {
	.wysiwyg {
		$this: &;
		& > * {
			&:first-child {
				margin-top: 0;
			}
		}
		p {
			margin-top: 20px;
		}
		a {
			@include incLinkTextPC();
		}
		ul {
			position: relative;
			display: grid;
			gap: 10px;
			margin-top: 20px;
			padding: 20px 30px;
			background-color: $primary03;
			&::before {
				position: absolute;
				content: "";
				right: 0;
				top: 0;
				border-width: 0 25px 25px 0;
				border-style: solid;
				border-color: $primary04 $beige01 $primary04;
			}
			li {
				position: relative;
				font-weight: $fwMedium;
				padding-left: 1em;
				&::before {
					position: absolute;
					top: .1em;
					left: 0;
					transform: translateY(50%);
					width: 10px;
					height: 10px;
					background: $brown01;
					border-radius: 50%;
					content: "";
				}
			}
		}
		ol {
			position: relative;
			display: grid;
			gap: 15px;
			margin-top: 28px;
			background-color: $primary03;
			padding: 20px 30px;
			counter-reset: number 0;
			&::before {
				position: absolute;
				content: "";
				right: 0;
				top: 0;
				border-width: 0 25px 25px 0;
				border-style: solid;
				border-color: $primary04 $beige01 $primary04;
			}
			li {
				position: relative;
				padding-left: 30px;
				font-weight: $fwMedium;
				&::before {
					display: grid;
					place-content: center;
					position: absolute;
					top: -1em;
					left: 0;
					transform: translateY(50%);
					width: 25px;
					height: 25px;
					border-radius: 50%;
					background: $brown01;
					color: $white01;
					font-weight: $fwMedium;
					counter-increment: number 1;
					content: counter(number);
				}
			}
		}
		blockquote {
			position: relative;
			display: grid;
			gap: 10px;
			margin-top: 20px;
			padding: 20px 30px;
			background-color: $primary03;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(-50%);
				width: 30px;
				height: 30px;
				background: url(#{$imgPath}/icon-quote.svg) no-repeat center / contain;
				content: "";
			}
			&::after {
				position: absolute;
				bottom: 0;
				right: 0;
				transform: translateY(50%) rotate(180deg);
				width: 30px;
				height: 30px;
				background: url(#{$imgPath}/icon-quote.svg) no-repeat center / contain;
				content: "";
			}
			* {
				margin: 0;
			}
		}
	}
}

@include sp {
	.wysiwyg {
		$this: &;
		& > * {
			&:first-child {
				margin-top: 0;
			}
		}
		p {
			margin-top: vw(20);
		}
		a {
			@include incLinkTextSP();
		}
		ul {
			position: relative;
			display: grid;
			gap: vw(10);
			margin-top: vw(20);
			padding: vw(15) vw(20);
			background-color: $primary03;
			&::before {
				position: absolute;
				content: "";
				right: 0;
				top: 0;
				border-width: 0 vw(20) vw(20) 0;
				border-style: solid;
				border-color: $primary04 $beige01 $primary04;
			}
			li {
				position: relative;
				font-weight: $fwMedium;
				padding-left: 1em;
				&::before {
					position: absolute;
					top: .1em;
					left: 0;
					transform: translateY(50%);
					width: vw(10);
					height: vw(10);
					background: $brown01;
					border-radius: 50%;
					content: "";
				}
			}
		}
		ol {
			position: relative;
			display: grid;
			gap: vw(15);
			margin-top: vw(28);
			background-color: $primary03;
			padding: vw(20);
			counter-reset: number 0;
			&::before {
				position: absolute;
				content: "";
				right: 0;
				top: 0;
				border-width: 0 vw(20) vw(20) 0;
				border-style: solid;
				border-color: $primary04 $beige01 $primary04;
			}
			li {
				position: relative;
				padding-left: vw(30);
				font-weight: $fwMedium;
				&::before {
					display: grid;
					place-content: center;
					position: absolute;
					top: -1em;
					left: 0;
					transform: translateY(50%);
					width: vw(25);
					height: vw(25);
					border-radius: 50%;
					background: $brown01;
					color: $white01;
					font-weight: $fwMedium;
					counter-increment: number 1;
					content: counter(number);
				}
			}
		}
		blockquote {
			position: relative;
			display: grid;
			gap: vw(10);
			margin-top: vw(20);
			padding: vw(20) vw(30);
			background-color: $primary03;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(-50%);
				width: vw(30);
				height: vw(30);
				background: url(#{$imgPath}/icon-quote.svg) no-repeat center / contain;
				content: "";
			}
			&::after {
				position: absolute;
				bottom: 0;
				right: 0;
				transform: translateY(50%) rotate(180deg);
				width: vw(30);
				height: vw(30);
				background: url(#{$imgPath}/icon-quote.svg) no-repeat center / contain;
				content: "";
			}
			* {
				margin: 0;
			}
		}
	}
}
