$white01: #fff;
$black01: #333;
$primary01: #E1AA3D;
$primary02: #fa8500;
$primary03: rgba(86, 38, 8, 0.1);
$primary04: rgba(86, 38, 8, 0.4);
$brown01: #51270d;
$gray01: #eee;
$beige01: #faf8ed;
$blue01: #4f5b93;
