// font-size
$fzSmallPC: 12px;
$fzBasePC: 14px;
$fzMediumPC: 16px;
$fzLargePC: 18px;
$fzXLPC: 20px;

// font-weight
$fwBold: 700;
$fwMedium: 500;
$fwNormal: 400;

// line-height
$lhFlat: 1;
$lhBase: 1.5;

// letter-speacing
$lsBase: .04em;
$lsMedium: .06em;
