// メディアクエリ
$mediaPc: 768px;
$mediaSp: 767px;

// デザインカンプの横幅
$compWidth: 390;
$pcCompWidth: 1100;

// inner
$innerWidthPC: 1100px;
$innerWidthSmallPC: 1000px;
$innerWidthSP: calc(1vw * 10 / $compWidth * 100);
