@use './global/import' as *;
@use './config/import' as *;

@include pc {
	.blogs-wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 80px vwMin(50);
		margin-top: 50px;
	}
	.blogs-block {
		display: grid;
		grid-template-rows: auto auto 1fr;
	}
}

@include sp {
	.blogs-wrap {
		display: grid;
		row-gap: vw(50);
		margin-top: vw(40);
	}
	.blogs-block {
		display: grid;
		grid-template-rows: auto auto 1fr;
	}
}
